.main {
    margin-top: 5%;
    padding: 5% 1%;
    background-color: whitesmoke;
}

.first,
.second,
.third {
    padding: 1rem;
    border: 1px solid #5d4f9f;
    border-radius: 50%;
}

.step1,
.step2,
.step3 {
    padding: 1%;
}

.line1,
.line2 {
    padding-top: 8px;
    width: 25%;
}

hr {
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.activeStep {
    background-color: #5d4f9f;
    color: white;
}
